{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.logging {:mvn/version "0.3.1"}
        funcool/promesa {:mvn/version "4.0.0-SNAPSHOT"}
        funcool/cuerdas {:mvn/version "2.2.0"}
        danlentz/clj-uuid {:mvn/version "0.1.9"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.26"}
        com.cognitect/transit-clj {:mvn/version "0.8.319"}
        com.taoensso/nippy {:mvn/version "2.15.0-RC1"}
        org.xerial.snappy/snappy-java {:mvn/version "1.1.7.3"}
        commons-io/commons-io {:mvn/version "2.6"}
        mount/mount {:mvn/version "0.1.16"}
        environ/environ {:mvn/version "1.1.0"}

        ;; Transaction log default impl dependencies
        io.vertx/vertx-pg-client {:mvn/version "3.8.1"}

        }
 :paths ["src" "resources"]
 :aliases
 {:dev
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                org.clojure/tools.namespace {:mvn/version "0.3.1"}}
   :extra-paths ["test"]}
  :repl {:main-opts  ["-m" "rebel-readline.main"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.6.0"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  :ancient {:main-opts ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "RELEASE"}}}
  }}



