{:initial {:create-migrations-table
           "CREATE TABLE mammutdb_migrations (
              name varchar(255) UNIQUE PRIMARY KEY,
              created_at timestamp with time zone DEFAULT now()
            );"
           :check-if-exists
           "SELECT 1 FROM pg_catalog.pg_class c
              JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
              WHERE n.nspname = 'public'
              AND c.relname = ?;"}

 :v1 {:collections-create-table
      "CREATE TABLE mammutdb_collections (
         id serial UNIQUE PRIMARY KEY,
         name varchar(1024),
         type varchar(255),
         database varchar(1024),
         metadata json DEFAULT '{}'::json,
         created_at timestamp with time zone DEFAULT now(),
         UNIQUE (name, database)
       );"

      :users-create-table
      "CREATE TABLE mammutdb_users (
         id serial UNIQUE PRIMARY KEY,
         username varchar(255) UNIQUE,
         password varchar(255) DEFAULT '!'
       );"}

 :v2 {:databases-table
      "CREATE TABLE mammutdb_databases (
         id serial UNIQUE PRIMARY KEY,
         name varchar(255) UNIQUE,
         created_at timestamp with time zone DEFAULT now()
       );"}

 :v3 {:add-deleted-flag
      "ALTER TABLE %s ADD COLUMN deleted DEFAULT FALSE;"}}
