{:create-default-schema-revision
 "CREATE TABLE %s (
    id uuid DEFAULT uuid_generate_v1() UNIQUE PRIMARY KEY,
    data json,
    revision uuid DEFAULT uuid_generate_v1(),
    created_at timestamp with time zone
  );"

 :create-default-schema-mainstore
 "CREATE TABLE %s (
    id uuid UNIQUE PRIMARY KEY,
    data json,
    revision uuid,
    created_at timestamp with time zone
  );"

 :persist-document-on-mainstore
 "INSERT INTO %s (id, data, revision, created_at) VALUES (?, ?, ?, ?);"

 :persist-document-on-revisions
 "INSERT INTO %s (data, created_at) VALUES (?, ?);"

 :update-document-on-mainstore
 "UPDATE %s SET revision = ?, created_at = ?, data = ? WHERE id = ?;"}
