{
 :document-by-id
 "SELECT * FROM %s WHERE id = ?;"

 :collection-exists

 :user-by-id
 "SELECT id, username, password FROM mammutdb_user WHERE id = ?;"

 :user-by-username
 "SELECT id, username, password FROM mammutdb_user WHERE username = ?;"}
